<div class="row">

    <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>
        
      <div class="col-xs-8 col-md-4 col-lg-4">

        <div class="top-spacer-reg">
          <a href="/"><h1 class="form-signin-heading">Sign-Up</h1></a>
          <p>col-xs-8</p>
        </div>

      </div>

    <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

</div>

<br>

<div class="row center-me">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row center-me">

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

          <div class="col-xs-8 col-md-4 col-lg-4">

          <div class="field">
            <%= f.email_field :email, placeholder: "Please enter your E-mail", autofocus: true, class: "style-5" %>
          </div>

          </div>

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>


      </div>

<br>

      <div class="row center-me">

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

          <div class="col-xs-8 col-md-4 col-lg-4">

          <div class="field">
            <%= f.telephone_field :mobile, placeholder: "Please enter your Mobile", class: "style-5" %>
          </div>

          </div>

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

      </div>

<br>
      <div class="row center-me">

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

            <div class="col-xs-8 col-md-4 col-lg-4">

            <div class="field">
              
              <%= f.password_field :password, placeholder: "#{@minimum_password_length} character Password minimum",   autocomplete: "off", class: "style-5"  %>
            </div>

          </div>

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>


      </div>

<br>
      <div class="row center-me">

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>


          <div class="col-xs-8 col-md-4 col-lg-4">

          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "style-5"  %>
          </div>

          </div>

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

      </div>

<br>
      <div class="row center-me">

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

          <div class="col-xs-8 col-md-4 col-lg-4">

          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
          </div>

          </div>

        <div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>


      </div>

    <% end %>

</div>

<br>

<div class="row center-me">
<div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>
    
  <div class="col-xs-8 col-md-4 col-lg-4">

    <div class="bottom-spacer-sign">

    <%= render "devise/shared/links" %>


    </div>

  </div>

<div class="col-xs-2 col-md-4 col-lg-4 center-me">.col-xs-2</div>

</div>
