<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @task.time.strftime("%H:%M") %>
</p>

<p>
  <strong>T-Miuns:</strong>
  <%= @task.tminus %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
