<div class="row">

    <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
        
      <div class="col-xs-8 col-md-4 col-lg-4">

        <div class="top-spacer-sign">
          <h1 class="form-signin-heading">Sign-In</h1>
        </div>

      </div>

    <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>

</div>


<br>

<br>

<br>

<br>
<br>

<br>

<br>
<br>

<br>

<br>

<br>





<div class="row center-me">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <div class="row">
          <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
              
            <div class="col-xs-8 col-md-4 col-lg-4">
                 
                 <div class="form-group">
                       <div class="field">
                         <%= f.email_field :email, placeholder: ":E-mail" ,class: "style-5" %>
                       </div>
                 </div>

            </div>


          <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>

        </div>


    <div class="row">
          <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
              
            <div class="col-xs-8 col-md-4 col-lg-4">
                 <div class="form-group">
                       <div class="field">
                         <%= f.password_field :password, placeholder: ":Password",  autocomplete: "off", class: "style-5" %>
                       </div>
                 </div>
            </div>

          <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
        </div>

    <div class="row">
          <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
              
            <div class="col-xs-8 col-md-4 col-lg-4">

              <div class="row center-me">
              <div class="col-xs-4">
                <a href="<%=root_path%>"><i class="fa fa-undo" aria-hidden="true"></i></a>

              </div>
                  
                <div class="col-xs-4 center-me">


                            <div class="actions center-me">
                            
                              <button id="login" type="submit" class="center-me">
                              <i class="fa fa-sign-in" aria-hidden="true"></i>
                              </button>
                            
                            </div>



                </div>

              <div class="col-xs-4"></div>
             <a href="<%= new_password_path(resource_name)%>"> <i class="fa fa-question-circle" aria-hidden="true"></i></a> 
              <br />

              </div>
                 

                 



            </div>
  

        <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>

    </div>
<% end %>


</div>

<br>





